@import "@/shared/styles/_vars";

.instructionsBlock {
  background-color: $bg-white;
  padding: rem(100) 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  @include default-block-styles();

  @media screen and (max-width: $max-768) {
    padding: rem(80) 0;
  }
}
.container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(0) rem(20);
}
.title {
  @include desktop-h1();
  color: $black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(50);
  text-wrap: balance;

  @media screen and (max-width: $max-768) {
    @include mob-h1();
    margin-bottom: 0;
  }
}
.instructionItems {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructionItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: $black;
  gap: clamp(rem(40), 8vw, rem(130));
  padding: rem(100) 0;
  border-bottom: 1px solid $white;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  @media screen and (max-width: $max-900) {
    gap: rem(40);
    flex-direction: column;
    align-items: center;
    padding: rem(60) 0;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.instructionTitle {
  @include desktop-h2();
  color: inherit;

  @media screen and (max-width: $max-768) {
    @include mob-h2();
    text-align: center;
  }
}
.instructionContent {
  max-width: rem(740);
  width: 100%;
  color: inherit;

  & ol {
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @media screen and (max-width: $max-768) {
      gap: rem(15);
    }

    & li {
      @include desktop-p();
      cursor: default;

      & p {
        cursor: text;
      }

      @media screen and (max-width: $max-768) {
        @include mob-p();
      }
    }
  }
}
.items {
  display: flex;
  align-items: stretch;
  margin-top: rem(50);
  flex-wrap: wrap;
  row-gap: rem(20);

  @media screen and (max-width: $max-768) {
    max-width: rem(380);
    -moz-column-gap: rem(10);
    column-gap: rem(10);
    justify-content: center;
    margin: 0 auto;
    margin-top: rem(40);
  }
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(5) rem(10);
  gap: rem(5);
  min-width: rem(104);
  border: 0;
  border-bottom: rem(1) solid transparent;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #b3b3b3;
  fill: #b3b3b3;
  transition: 0.1s;

  &:hover {
    color: darken(#b3b3b3, 20%);
    fill: darken(#b3b3b3, 20%);
  }

  &.selected {
    border-bottom: rem(1) solid $light-black;
    color: $light-black;
    fill: $light-black;

    &:hover {
      color: $light-black;
      fill: $light-black;
    }
  }
}
.itemIcon {
  color: inherit;
  fill: inherit;
  max-width: rem(32);
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  max-height: rem(32);
  transition: 0.1s;
}
.itemName {
  color: inherit;
  @include desktop-p();
  cursor: pointer;
  transition: 0.1s;
  text-wrap: nowrap;

  @media screen and (max-width: $max-768) {
    @include mob-p();
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: rem(30);

  @media screen and (max-width: $max-768) {
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-top: rem(40);
  }
  @media screen and (max-width: $max-600) {
    width: 100%;
  }
}
.button {
  @media screen and (max-width: $max-768) {
    margin: 0 auto;
    width: 100%;
  }
}
