@import "@/shared/styles/_vars";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: rem(10);
  margin-top: rem(50);
  width: 100%;
  position: relative;
  z-index: 2;

  @media screen and (max-width: $max-768) {
    margin-top: rem(30);
    gap: rem(8);
  }
}
.string {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: rem(10);
  flex-wrap: nowrap;
  overflow-x: auto;
  border-radius: rem(10);

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: $max-768) {
    gap: rem(4);
  }
}
.paginationItem {
  @include mob-p();
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: rem(40);
  width: rem(40);
  aspect-ratio: 1/1;
  border-radius: $border-radius;
  background-color: $bg-dark-white;
  color: $light-black;
  text-decoration: none;
  transition: 0.2s linear;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  border: 0;

  &:disabled {
    cursor: default;

    &:hover {
      -webkit-filter: none;
      filter: none;
    }
  }

  &:hover {
    -webkit-filter: drop-shadow(0 rem(4) rem(12) rgba(21, 1, 79, 0.1));
    filter: drop-shadow(0 rem(4) rem(12) rgba(21, 1, 79, 0.1));
  }

  &.active {
    color: $white;
    background-color: $light-black;
  }

  &.arrow {
    width: rem(80);
    height: rem(40);
    aspect-ratio: unset;

    @media screen and (max-width: $max-768) {
      min-width: rem(56);
      width: rem(56);
      height: rem(40);
    }

    &.prev {
      & svg {
        transform: rotate(180deg);
      }
    }
  }
}
.icon {
  width: rem(16);
  height: 100%;
}
