@import "@/shared/styles/_vars";

.block {
  background-color: $bg-white;
  padding: rem(100) 0;
  padding-top: rem(180);
  overflow: hidden;
  position: relative;
  z-index: 2;
  @include default-block-styles();

  @media screen and (max-width: $max-768) {
    padding: rem(80) 0;
    padding-top: rem(160);
  }
}
.container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(0) rem(20);
}
.titleWrapper {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: rem(50);
  gap: rem(40);
  flex-wrap: wrap;

  @media screen and (max-width: $max-768) {
    margin-bottom: 0;
  }
  @media screen and (max-width: $max-500) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.title {
  @include desktop-h1();
  color: $black;
  text-transform: uppercase;
  text-align: left;
  text-wrap: balance;

  @media screen and (max-width: $max-768) {
    @include mob-h1();
    margin-bottom: 0;
  }
}
.offerDate {
  color: $light-black;
  @include desktop-p();

  @media screen and (max-width: $max-768) {
    @include mob-p();
  }
}
.content {
  color: $light-black;
  margin-top: rem(50);
  & p {
    @include desktop-p();
    color: inherit;
  }

  & a {
    @include desktop-link();
    color: inherit;
    cursor: pointer;
    font-style: normal;
  }

  & ul {
    padding: 0;
  }

  @media screen and (max-width: $max-768) {
    margin-top: rem(40);

    & p {
      @include mob-p();
    }

    & a {
      @include mob-link();
      font-style: normal;
    }
  }
}
