@import "@/shared/styles/_vars";

body.overflow {
  overflow: hidden;
}
body.blur {
  position: relative;
  overflow: hidden;
  transition: 0.2s;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: rgba(40, 35, 32, 0.7);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
  }
}

:root {
  color-scheme: only light;
  --primary-1-color: #001357;
  --primary-2-color: #570165;
  --primary-hover-1-color: #effcff;
  --primary-hover-2-color: #7e0093;
  --secondary-1-color: #ffffff;
  --secondary-2-color: #ffffff;
  --secondary-hover-1-color: #effcff;
  --secondary-hover-2-color: #f6e8fd;
}

html {
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(--bg-color-light-main);
}

// Выделение текста
// * {
//   &::-moz-selection {
//     background-color: rgba(87, 1, 101, 0.3);
//   }
//   &::selection {
//     background-color: rgba(87, 1, 101, 0.3);
//   }
// }
.error_text {
  text-align: center;
  color: rgb(var(--red));
  font-size: 1rem;
  margin-bottom: 0.625rem;
  cursor: text;
}
