@import "@/shared/styles/_vars";

.downloadBlock {
  background-color: $bg-white;
  padding: rem(200) 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  @include default-block-styles();

  @media screen and (max-width: $max-768) {
    padding: rem(80) 0;
  }
}
.container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(0) rem(20);
}
.title {
  @include desktop-h2();
  color: $black;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: rem(100);
  text-wrap: balance;

  @media screen and (max-width: $max-768) {
    @include mob-h1();
    margin-bottom: rem(60);
  }
}
.mainIcon {
  color: transparent;
  fill: transparent;
  max-width: rem(230);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.helpText {
  @include desktop-p();
  color: $light-black;
  max-width: rem(850);
  margin: 0 auto;
  text-align: center;
  margin-top: rem(30);

  @media screen and (max-width: $max-768) {
    @include mob-p();
  }
}
.items {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: rem(100);
  flex-wrap: wrap;
  row-gap: rem(20);

  @media screen and (max-width: $max-768) {
    max-width: rem(380);
    justify-content: space-between;
    -moz-column-gap: rem(10);
    column-gap: rem(10);
  }
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(5) rem(10);
  gap: rem(5);
  min-width: rem(104);
  border: 0;
  border-bottom: rem(1) solid transparent;
  outline: none;
  background: transparent;
  cursor: pointer;
  color: #b3b3b3;
  fill: #b3b3b3;
  transition: 0.1s;

  &:hover {
    color: darken(#b3b3b3, 20%);
    fill: darken(#b3b3b3, 20%);
  }

  &.selected {
    border-bottom: rem(1) solid $light-black;
    color: $light-black;
    fill: $light-black;

    &:hover {
      color: $light-black;
      fill: $light-black;
    }
  }
}
.itemIcon {
  color: inherit;
  fill: inherit;
  max-width: rem(32);
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  max-height: rem(32);
  transition: 0.1s;
}
.itemName {
  color: inherit;
  @include desktop-p();
  cursor: pointer;
  transition: 0.1s;
  text-wrap: nowrap;

  @media screen and (max-width: $max-768) {
    @include mob-p();
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: rem(100);

  @media screen and (max-width: $max-768) {
    width: 80%;
  }
  @media screen and (max-width: $max-600) {
    width: 100%;
  }
}
.button {
  min-width: rem(300);
}
