@import "@/shared/styles/_vars";

.accordionBlock {
  background-color: $bg-dark-white;
  padding: rem(200) 0;

  @media screen and (max-width: $max-768) {
    padding: rem(80) 0;
  }
}
.container {
  @include container();
}
.title {
  @include desktop-h2();
  text-align: center;

  @media screen and (max-width: $max-768) {
    @include mob-h2();
  }
}
.accordions {
  margin-top: rem(100);

  @media screen and (max-width: $max-768) {
    margin-top: rem(60);
  }
}
