@import "@/shared/styles/_vars";

.accordion {
  width: 100%;
  border-top: rem(1) solid $light-black;
  padding: rem(30) 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  @media screen and (max-width: $max-768) {
    padding: rem(20) 0;
  }
}
.upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: rem(18);
}
.title {
  @include desktop-h3();
  color: $black;
  cursor: pointer;

  @media screen and (max-width: $max-768) {
    @include mob-h3();
  }
}
.arrow {
  color: $black;
  fill: $black;
  max-width: rem(15);
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;

  &.open {
    transform: rotate(90deg);
  }
}
.content {
  height: 0;
  color: $light-black;
  @include desktop-p();
  transition: 0.2s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  white-space: pre-wrap;

  & ol,
  ul {
  }

  & * {
    margin-top: rem(16);
    margin-left: 0;
    line-height: 1.5;
    @include desktop-p();
    color: inherit;
    white-space: pre-wrap;
  }

  & strong {
    font-weight: bolder;
  }

  & a {
    @include desktop-link();
    color: inherit;
    cursor: pointer;
    font-style: normal;
    white-space: pre-wrap;
  }

  &.open {
    padding-top: rem(15);
    height: auto;
    opacity: 1;
    visibility: visible;

    @media screen and (max-width: $max-768) {
      padding-top: rem(10);
    }
  }

  @media screen and (max-width: $max-768) {
    @include mob-p();

    & * {
      @include mob-p();

      & a {
        @include mob-link();
        font-style: normal;
      }
    }

    & a {
      @include mob-link();
      font-style: normal;
    }
  }
}
