@use "sass:math";

// Colors
// Primary
$black: #280a29;
$light-black: #462847;
$accent: rgb(58, 121, 222);
$white: #f2f2f2;
$light-white: #c2c9e0;
$gray: #b4b3b4;
$btm-gradient: linear-gradient(90deg, #001357, #570165);
$btm-gradient-hover: linear-gradient(90deg, #01056b, #7e0093);
$error: #ca0000;

// Background
$bg-black: #000000;
$bg-white: #ffffff;
$bg-dark-white: #fafafa;

// Convert
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}

// Values
$border-radius: rem(10);

// Fonts
@mixin inter($weight: 400) {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: $weight;
}
// Templates
@mixin desktop-h1() {
  @include inter(300);
  font-size: rem(54);
  line-height: rem(62);
  cursor: text;
  text-wrap: balance;
}
@mixin mob-h1() {
  @include inter(300);
  font-size: rem(27);
  line-height: rem(31);
  cursor: text;
  text-wrap: balance;
}
@mixin desktop-h2() {
  @include inter(300);
  font-size: rem(40);
  line-height: rem(46);
  cursor: text;
  text-wrap: balance;
}
@mixin mob-h2() {
  @include inter(300);
  font-size: rem(23);
  line-height: rem(26);
  cursor: text;
  text-wrap: balance;
}
@mixin desktop-h3() {
  @include inter(300);
  font-size: rem(30);
  line-height: rem(34);
  cursor: text;
  text-wrap: balance;
}
@mixin mob-h3() {
  @include inter(300);
  font-size: rem(19);
  line-height: rem(21);
  cursor: text;
  text-wrap: balance;
}
@mixin desktop-p() {
  @include inter(400);
  font-size: rem(20);
  line-height: rem(28);
  letter-spacing: rem(0.4);
  cursor: text;
}
@mixin mob-p() {
  @include inter(400);
  font-size: rem(16);
  line-height: rem(22);
  cursor: text;
}
@mixin desktop-p-light() {
  @include inter(300);
  font-size: rem(20);
  line-height: rem(28);
  letter-spacing: rem(0.4);
  cursor: text;
}
@mixin mob-p-light() {
  @include inter(300);
  font-size: rem(16);
  line-height: rem(18);
  cursor: text;
}
@mixin desktop-small() {
  @include inter(300);
  font-size: rem(16);
  line-height: rem(18);
  letter-spacing: 2%;
  cursor: text;
  background: transparent;
}
@mixin desktop-extra-small() {
  @include inter(300);
  font-size: rem(14);
  line-height: rem(18);
  letter-spacing: rem(0.4);
  cursor: text;
}
@mixin desktop-link() {
  @include inter(300);
  font-size: rem(20);
  line-height: rem(28);
  letter-spacing: 2%;
  cursor: text;
  text-decoration: underline;
  font-style: oblique 12deg;
  letter-spacing: rem(0.4);
}
@mixin mob-link() {
  @include inter(300);
  font-size: rem(16);
  line-height: rem(18);
  cursor: text;
  text-decoration: underline;
  font-style: oblique 12deg;
}

@mixin strings($string-count) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: $string-count;
  -webkit-box-orient: vertical;
  line-clamp: $string-count;
  box-orient: vertical;
}

@mixin container() {
  max-width: rem(1320);
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

@mixin default-block-styles() {
  &.gray {
    background-color: $bg-dark-white;
  }
  &.roundedTop {
    border-radius: $border-radius $border-radius 0 0;
  }
  &.roundedBottom {
    border-radius: 0 0 $border-radius $border-radius;
  }
  &.rounded {
    border-radius: $border-radius;
  }
}

@mixin position-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin theme-transition() {
  transition: color 0.2s, background 0.2s, background-color 0.2s;
}

@mixin H1-text() {
  font-size: rem(34);
  font-weight: 600;
  cursor: text;
}
@mixin H2-text() {
  font-size: rem(30);
  font-weight: 600;
  cursor: text;
}
@mixin H3-text() {
  font-size: rem(26);
  font-weight: 600;
  cursor: text;
}
@mixin H4-text() {
  font-size: rem(24);
  font-weight: 600;
  cursor: text;
}
@mixin H5-text() {
  font-size: rem(20);
  font-weight: 600;
  cursor: text;
}
@mixin H6-text() {
  font-size: rem(18);
  font-weight: 600;
  cursor: text;
}

@mixin p-text() {
  font-size: rem(16);
  font-weight: 400;
  cursor: text;
}

// Responsive

$max-1400: em(1400);
$max-1300: em(1300);
$max-1200: em(1200);
$max-1100: em(1100);
$max-1000: em(1000);
$max-950: em(950);
$max-900: em(900);
$max-850: em(850);
$max-800: em(800);
$max-768: em(768);
$max-700: em(700);
$max-650: em(650);
$max-600: em(600);
$max-550: em(550);
$max-500: em(500);
$max-450: em(450);
$max-400: em(400);
