@import "@/shared/styles/_vars";
.stepsBlock {
  background-color: $bg-white;
  padding: rem(200) 0;
  overflow: hidden;
  position: relative;
  z-index: 2;
  @include default-block-styles();

  @media screen and (max-width: $max-768) {
    padding: rem(80) 0;
  }
}
.container {
  @include container();
}
.title {
  @include desktop-h2();
  text-align: center;
  text-transform: uppercase;
  text-wrap: balance;

  @media screen and (max-width: $max-768) {
    @include mob-h2();
  }
}
.steps {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: rem(30);
  flex-wrap: wrap;
  margin-top: rem(100);

  @media screen and (max-width: $max-1000) {
    flex-direction: column;
  }

  @media screen and (max-width: $max-768) {
    margin-top: rem(60);
  }
}
.step {
  padding: rem(100) rem(40);
  background-color: $bg-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(30);
  text-align: center;
  flex: 1 0 47%;
  -webkit-filter: drop-shadow(0px 0px 30px rgba(21, 1, 79, 0.1));
  filter: drop-shadow(0px 0px 30px rgba(21, 1, 79, 0.1));
  border-radius: $border-radius;

  @media screen and (max-width: $max-1000) {
    padding: rem(20);
    gap: rem(15);
  }
  color: $black;

  &.first {
    background: $btm-gradient;
    color: $white;
    -webkit-filter: none;
    filter: none;
    justify-content: center;

    @media screen and (max-width: $max-1000) {
      padding: rem(40) rem(20);
    }
  }
}

// First step
.firstCount {
  @include inter(300);
  font-size: rem(90);
  line-height: 1;

  @media screen and (max-width: $max-768) {
    font-size: rem(40);
  }
}
.firstText {
  @include inter(300);
  font-size: rem(30);
  text-transform: uppercase;

  @media screen and (max-width: $max-768) {
    font-size: rem(20);
    line-height: rem(20);
  }
}

// Other steps
.count {
  @include inter(300);
  font-size: rem(30);

  @media screen and (max-width: $max-768) {
    font-size: rem(20);
  }
}
.stepTitle {
  @include inter(300);
  font-size: rem(30);
  text-transform: uppercase;

  @media screen and (max-width: $max-768) {
    font-size: rem(20);
  }
}
.stepText {
  @include inter(300);
  font-size: rem(20);

  @media screen and (max-width: $max-768) {
    font-size: rem(16);
  }
}
